<div class="dev-workspace d-flex flex-row bd-highlight mb-3 ">

    <section class="side-bar">

        <div class="opt d-flex justify-content-between pb-3">
            <span class="material-icons" style="color: rgb(187, 97, 187);font-size:2rem">
                account_circle
            </span>
            <strong class="dev-username text-light text-uppercase" style="font-size: 1.3rem;">{{developer.devName}}</strong>
        </div>

        <div class="opt p-2">
            <div class="d-flex mb-3  mt-2 opt-s">
                <span class="material-icons" style="font-weight: bolder;margin-right:3.4rem;color: white;">
                    history
                </span>
                <strong class="dev-username text-light opt-text">Recent</strong>
            </div>
            <div class="d-flex mb-3  mt-2 opt-s">
                <span class="material-icons" style="margin-right:3.4rem;color: white;">
                    drafts
                </span>
                <strong class="dev-username text-light opt-text">Drafts</strong>
            </div>
            <div class="d-flex opt-s">
                <span class="material-icons" style="margin-right:1.9rem;color: white;">
                    cloud_upload
                </span>
                <strong class="dev-username text-light opt-text">Active projects</strong>
            </div>

        </div>
        <div class="opt p-2">
            <div class="d-flex mb-3  mt-2 opt-s">
                <span class="material-icons" style="margin-right:4.4rem;color: white;">
                    public
                </span>
                <strong class="dev-username text-light opt-text">CSD</strong>
            </div>
            <div class="d-flex opt-s">
                <span class="material-icons" style="margin-right:2rem;color: white;">
                    analytics
                </span>
                <strong class="dev-username text-light opt-text">View CSD plans</strong>
            </div>

        </div>

        <div class="opt p-2">
            <div class="d-flex mb-3  mt-2 opt-s">
                <span class="material-icons" style="margin-right:3.4rem;color: white;">
                    groups
                </span>
                <strong class="dev-username text-light opt-text">My team</strong>
            </div>
            <div class="d-flex opt-s">
                <span class="material-icons" style="margin-right:2.3rem;color: white;">
                    construction
                </span>
                <strong class="dev-username text-light opt-text">Create Team</strong>
            </div>

        </div>
    </section>

    <section class="work-area">

        <div class="work-area-header">
            <div class="sub-header0  d-flex bd-highlight">
                <div class="search-bar pb-3 p-t-3 flex-grow-1 bd-highlight">
                    <div class="display-flex">

                        <input type="text" placeholder="Search projects" class="search-input  mb-3">
                    </div>
                </div>
                <div class="dev-account-info pt-2 bd-highlight d-flex justify-content-center aligh-items-center">
                    <span class="material-icons" style="color:rgb(138, 73, 138);font-size: 1.8rem;">
                        notifications_active
                    </span>
                </div>
            </div>
            <div class="sub-header1 d-flex justify-content-between ">
                <h5 class="text-header-bottom-r mt-2" style="">Recently viewed</h5>
                <a href="/dev/addProjects"><button type="button" class="btn btn-primary" style="font-weight: bolder;border: 1px solid rgb(0, 255, 234);">New Project</button></a>
            </div>
        </div>