 <!--header-->
<div class="w3l-bootstrap-header fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light p-2">
    <div class="container">
      <a class="navbar-brand" href="index.html"><span class="fa fa-laptop"></span>Exuba</a>
      <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Websites
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a class="test" tabindex="-1" href="#">New dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                    <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
                    <li class="dropdown-submenu">
                      <a class="test" href="#">Another dropdown <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">3rd level dropdown</a></li>
                        <li><a href="#">3rd level dropdown</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="nav-item">
            <a href="/login" type="button"  class="btn btn-outline-light">
            {{#if user}}
                {{user.Name}}
                {{else}}
                Login
            {{/if}}
            </a>
            <a href="/signup"  type="button" class="btn btn-light" style="background: linear-gradient(90deg, rgb(91, 13, 143) 13%, rgb(58, 21, 114) 82%);color:#fff">Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!--header-->