
        <div class="container d-flex p-3 justify-content-center aligh-items-center">
        <div class="signup-container p-4 " >
            <h2 class="text-center">Create New <span class="font-weight-bold">Webly</span> Account</h2>
            <form action="/dev/devsignup"  method="POST" onSubmit = "return checkPassword(this)">
                <div class="form-group">
                    <label for="" >Name</label>
                    <input type="text" class="form-control input-style" name="devName" placeholder="Full Name" autocomplete="off">

                </div>
                <div class="form-group">
                    <label for="" class="mt-2">Email Address</label>
                    <input type="email" class="form-control input-style" name="devEmail" placeholder="Email" autocomplete="off" required>

                </div>
                <div class="form-group">
                    <label for="mobile" class="mt-2">Enter Your Mobile Number</label>
                    <input type="tel" class="form-control input-style" name="Mobile" autocomplete="off" required placeholder="Mobile"> 
                </div>
                
                <div class="form-group">
                    <label for="password" class="mt-2">Password</label>
                    <input type="password" class="form-control input-style" name="passwd" autocomplete="off" placeholder="Password" required>
                </div>
                <div>
                    <label class="mt-2">Confirm Your Password</label>
                    <input type="password" class="form-control input-style" id="confirmPasswd" autocomplete="off"  placeholder="Confirm Password" required>
                </div>
                <div class="form-group">
                    {{#if loginErr}}
                    <h6 class="error text-danger border border-danger text-center font-weight-bold">{{loginErr}}</h6>
                    {{/if}}
                </div>
                
                 <div class="form-group text-center m-2">
                    <a href="#" class="text-center font-weight-bold" >Forgot Password?</a>
                    <a href="/dev/devlogin" class="font-weight-bold ">Alredy have an Webly</a>
                </div>
                <button type="submit" class="btn-style float-right" >LOGIN</button>
            </form>
        </div>
</div>
<script>
     function checkPassword(form) {
                password1 = form.Passwd.value;
                password2 = document.getElementById("confirmPasswd").value;
                userName = form.Name.value;
                
  
                // If password not entered
                if (password1 == '')
                    alert ("Please enter Password");
                      
                // If confirm password not entered
                else if (password2 == '')
                    alert ("Please enter confirm password");
                      
                // If Not same return False.    
                else if (password1 != password2) {
                    alert ("\nPassword did not match: Please try again...")
                    return false;
                }
  
                // If same return True.
                else{
                    alert("Password Match: Dear "+userName+"  Welcome to Exuba!")
                    return true;
                }
            }
</script>
