      <div class="dev-webs  pt-4">
        <div class="container">

          <!-- This container is the main workarea and sometimes this will be change 

            <!--Editor-->
          <!-- Only change code inside of editor -->
          <div class="row mt-3 m-2 d-flex justify-content-center">

            <div class="card  col-md-3 shadow p-3 mb-3 rounded" style="width: 15rem;">
              <div class="image-container  ">
                <img class="card-img-top rounded" src="images/python-banner-updated.jpg" alt="Card image cap">
              </div>
              <div class="card-body p-1">
                <h5 class="card-title m-1 text-center">Card title</h5>
                <p class="card-text m-1 text-center" style="font-size: .9rem;">Some quick elsdfklxample text to build on
                  the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary mt-2 d-flex justify-content-center">Go somewhere</a>
              </div>
            </div>

            <div class="card col-md-3 shadow p-3 mb-3 rounded" style="width: 15rem;">
              <div class="image-container  ">
                <img class="card-img-top rounded" src="images/python-banner-updated.jpg" alt="Card image cap">
              </div>
              <div class="card-body p-1">
                <h5 class="card-title m-1 text-center">Card title</h5>
                <p class="card-text m-1 text-center" style="font-size: .9rem;">Some quick example text to build on the
                  card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary mt-2 d-flex justify-content-center">Go somewhere</a>
              </div>
            </div>

            <div class="card col-md-3 shadow p-3 mb-3 rounded" style="width: 15rem;">
              <div class="image-container  ">
                <img class="card-img-top rounded" src="images/python-banner-updated.jpg" alt="Card image cap">
              </div>
              <div class="card-body p-1">
                <h5 class="card-title m-1 text-center">Card title</h5>
                <p class="card-text m-1 text-center" style="font-size: .9rem;">Some quick example text to build on the
                  card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary mt-2 d-flex justify-content-center">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="row mt-3 m-2 d-flex justify-content-center">

            <div class="card col-md-3 shadow p-3 mb-3 rounded" style="width: 15rem;">
              <div class="image-container  ">
                <img class="card-img-top rounded" src="images/python-banner-updated.jpg" alt="Card image cap">
              </div>
              <div class="card-body p-1">
                <h5 class="card-title m-1 text-center">Card title</h5>
                <p class="card-text m-1 text-center" style="font-size: .9rem;">Some quick elsdfklxample text to build on
                  the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary mt-2 d-flex justify-content-center">Go somewhere</a>
              </div>
            </div>

            <div class="card col-md-3 shadow p-3 mb-3 rounded" style="width: 15rem;">
              <div class="image-container  ">
                <img class="card-img-top rounded" src="images/python-banner-updated.jpg" alt="Card image cap">
              </div>
              <div class="card-body p-1">
                <h5 class="card-title m-1 text-center">Card title</h5>
                <p class="card-text m-1 text-center" style="font-size: .9rem;">Some quick example text to build on the
                  card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary mt-2 d-flex justify-content-center">Go somewhere</a>
              </div>
            </div>

            <div class="card col-md-3 shadow p-3 mb-3 rounded" style="width: 15rem;">
              <div class="image-container  ">
                <img class="card-img-top rounded" src="images/python-banner-updated.jpg" alt="Card image cap">
              </div>
              <div class="card-body p-1">
                <h5 class="card-title m-1 text-center">Card title</h5>
                <p class="card-text m-1 text-center" style="font-size: .9rem;">Some quick example text to build on the
                  card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary mt-2 d-flex justify-content-center">Go somewhere</a>
              </div>
            </div>
          </div>

          <div class="row mt-3 m-2 d-flex justify-content-center">

            <div class="card col-md-3 shadow p-3 mb-3 rounded" style="width: 15rem;">
              <div class="image-container  ">
                <img class="card-img-top rounded" src="images/python-banner-updated.jpg" alt="Card image cap">
              </div>
              <div class="card-body p-1">
                <h5 class="card-title m-1 text-center">Card title</h5>
                <p class="card-text m-1 text-center" style="font-size: .9rem;">Some quick elsdfklxample text to build on
                  the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary mt-2 d-flex justify-content-center">Go somewhere</a>
              </div>
            </div>

            <div class="card col-md-3 shadow p-3 mb-3 rounded" style="width: 15rem;">
              <div class="image-container  ">
                <img class="card-img-top rounded" src="images/python-banner-updated.jpg" alt="Card image cap">
              </div>
              <div class="card-body p-1">
                <h5 class="card-title m-1 text-center">Card title</h5>
                <p class="card-text m-1 text-center" style="font-size: .9rem;">Some quick example text to build on the
                  card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary mt-2 d-flex justify-content-center">Go somewhere</a>
              </div>
            </div>

            <div class="card col-md-3 shadow p-3 mb-3 rounded" style="width: 15rem;">
              <div class="image-container  ">
                <img class="card-img-top rounded" src="images/python-banner-updated.jpg" alt="Card image cap">
              </div>
              <div class="card-body p-1">
                <h5 class="card-title m-1 text-center">Card title</h5>
                <p class="card-text m-1 text-center" style="font-size: .9rem;">Some quick example text to build on the
                  card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary mt-2 d-flex justify-content-center">Go somewhere</a>
              </div>
            </div>
          </div>
          <!-- Editor -->
        </div>
      </div>
    </section>
  </div>
