      <div class="dev-webs  pt-4">
        <div class="container">

          <!-- This container is the main workarea and sometimes this will be change 

            <!--Editor-->
          <!-- Only change code inside of editor -->

          <div class="row mt-3 m-2 d-flex justify-content-center">
            {{#each websites}}
              <div class="card  col-md-3 shadow p-3 mb-3 rounded" style="width: 18rem;">
              <div class="image-container  ">
                <img class="card-img-top rounded" src="{{this.image}}" alt="Card image cap">
              </div>
              <div class="card-body p-1">
                <h5 class="card-title m-1 text-center">{{this.title}}</h5>
                <p class="card-text m-1 text-center" style="font-size: .9rem;">{{this.description}}</p>
                  <h6 class="card-text m-2">Category: {{this.category}}</h6>
                <a href="#" class="btn btn-primary m-3 d-flex justify-content-center">Editd project</a>
              </div>
            </div>

            {{/each}}
            </div>
        </div>
      </div>
    </section>
  </div>
