<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

  </head>
  <body>
  
    {{>intro-header}}
   
    {{{body}}}

    {{>intro-footer}}


  </body>
</html>
